body {
    background-color: #961b00;
	text-align: center;
	padding-top: 100px;
	font-family: "Helvetica Neue", sans-serif;
}
.top-container{
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
	font-size: small;
}
.battery span{
	position: relative;
	font-size: 0.45rem;
	top: -3px;
}
.battery > img{
	width: 25px;
}
.status > img{
	width: 40px;
}


.calculator{
	max-width: 280px;
	height: auto;
	background-color: black;
	color: white;
	margin: auto;
	border-radius: 30px;
}

.display{
	width: 100%;
	padding: 30px 0px 10px 0px;	
	text-align: right;
}

.display > span{
	margin-right: 40px;
	font-size: 2rem;
	font-variant-numeric: tabular-nums;
}

.grid-container{
	display: grid;
	grid-template-columns: auto auto auto auto;
	gap: 12px;
	padding: 20px 0 50px;	
    justify-content: center;
}

.grid-container > div{
	border-radius: 50%;
	height: 50px;
	width: 50px;
	display: inline-flex;
    justify-content: center;
    align-items: center;
	cursor: pointer;
	font-size: 25px;
}

.btn-operator{
	background-color: orange;}
.btn-operator:hover{
	background-color: white; color: orange}

.btn-delete, .btn-plusMinus, .btn-percent{
	background-color: lightgray;
	color: black;
}
.btn-delete:hover, .btn-plusMinus:hover, .btn-percent:hover{
	background-color: white;}

.btn-digit, .btn-decPoint{
	background-color: darkslategrey;
}
.btn-digit:hover, .btn-decPoint:hover{
	background-color: gray;
}

#btn-zero{grid-column: 1 / 3; border-radius: 15px; width: 100%;}